services:
  freegospelchurch:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    networks:
      - web
    env_file:
      - .env.local

networks:
  web:
    external: true

