services:
  freegospelchurch:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8080:3000"
    networks:
      - web
    env_file:
      - .env.local

networks:
  web:
    external: true

